.container{
    display: flex;
    height: 50vh;
    width: 60vw;
    justify-content: space-between;
    background: transparent;
}
#image{
    background-image: url('../../public/template.jpg');
    height: 50vh;
    width: 40vw;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}