<div class="bg-gray-100 dark:bg-gray-800 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4">
                <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                    <img class="w-full h-full object-cover" src="https://image.tmdb.org/t/p/original/{{movieDetails.backdrop_path}}" alt="Product Image">
                </div>
                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 px-2">
                        <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700" (click)="clickWatchNow()">Watch Now</button>
                    </div>
                    <div class="w-1/2 px-2">
                        <button class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">Watch Later</button>
                    </div>
                </div>
            </div>
            <div class="md:flex-1 px-4">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">
                   {{movieDetails.title}}</h2>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Run Time:</span>
                        <span class="text-gray-600 dark:text-gray-300">{{movieDetails.runtime}}</span>
                    </div>
                   <p *ngIf="showVideo">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video[0].key}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                   </p>
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Genres</span>
                    <div class="flex items-center mt-2">
                        <button *ngFor="let g of movieDetails.genres" class=" p-2 rounded-2xl  bg-gray-400 mr-2">{{g.name}}</button>
                        
                    </div>
                </div>
             
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Movie Summary:</span>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                       {{movieDetails.overview}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>